<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>todo box</title>
		<meta name="description" content="Todo-box">
		<meta name="author" content="Taras Melnychuk">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="container">
				<figure class="header-logo">
					<img src="img/todo-logo.png" class="logo-img" alt="">
					<h2 class="pull-right"><a href="#" data-toggle="modal" data-target="#add-box-modal">add box</a><a href="login.html">logout <img src="img/logout-bng.png" alt=""></a> </h2>
				</figure>
			</div>
		</header>
		<section class="main-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-wrap">
							<figure class="box-close"><img src="img/box-close.png" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>Education</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								<tr>
									<td>
										<p>Write assay</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Web-programming task supera happy awoesome create</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
										
									</td>
								</tr>
								<tr>
									<td>
										<p>English exersizes</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Math homework</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
							</table>
							<img src="img/box-plus.png" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
						<div class="box-wrap">
							<figure class="box-close"><img src="img/box-close.png" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>Other</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								<tr>
									<td>
										<p>Write assay</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Web-programming task supera happy awoesome create</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
										
									</td>
								</tr>
							</table>
							<img src="img/box-plus.png" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-wrap">
							<figure class="box-close"><img src="img/box-close.png" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>Work</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								<tr>
									<td>
										<p>Write assay</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Web-programming task supera happy awoesome create</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
										
									</td>
								</tr>
								<tr>
									<td>
										<p>English exersizes</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Math homework</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
							</table>
							<img src="img/box-plus.png" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-wrap">
							<figure class="box-close"><img src="img/box-close.png" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>Project</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								<tr>
									<td>
										<p>Write assay</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Web-programming task supera happy awoesome create</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
										
									</td>
								</tr>
								<tr>
									<td>
										<p>English exersizes</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Math homework</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>English exersizes</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								<tr>
									<td>
										<p>Math homework</p>
									</td>
									<td>
										<form action=".">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
							</table>
							<img src="img/box-plus.png" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
					</div>
				</div>
			</div>
		<footer>
			<div class="credits">
				<h3>Created with love by Taras Melnychuk in 2015</h3>
			</div>
			<div class="social">
				<ul>
					<li><a href="#"><img src="img/insta.png" alt=""></a></li>
					<li><a href="#"><img src="img/twitter.png" alt=""></a></li>
					<li><a href="#"><img src="img/fb.png" alt=""></a></li>
					<li><a href="#"><img src="img/github.png" alt=""></a></li>
				</ul>
			</div>

		</footer>
		</section>

		<!-- Modal -->
		<div class="box-add-task modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		      <figure class="box-close" data-dismiss="modal" aria-label="Close"><img src="img/box-close.png" alt=""></figure>
		        <h1>Add task to education box</h1>
				<figure class="box-separator"></figure>
		        <form action="." method='post'>
		        	<input type="text" placeholder="e.g. Call to my mother" class="modal-input">
		        	
		        	
		        	<button type="submit" class="add-btn"><img src="img/box-plus.png" alt="" class="box-plus"></button>
		        		
		        	
		        
		        </form>
		      </div>
		    </div>
		  </div>
		</div>


		<div class="box-add-task modal fade" id="add-box-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		      <figure class="box-close" data-dismiss="modal" aria-label="Close"><img src="img/box-close.png" alt=""></figure>
		        <h1>Add new box</h1>
				<figure class="box-separator"></figure>
		        <form action="." method='post'>
		        	<input type="text" placeholder="e.g. Call to my mother" class="modal-input">
		        	
		        	
		        	<button type="submit" class="add-btn"><img src="img/box-plus.png" alt="" class="box-plus"></button>
		        		
		        	
		        
		        </form>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="box-add-box modal fade" id="delete-box-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog box-wrap-modal">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		        <h1>You really want to delete education box?</h1>
				<figure class="box-separator"></figure>
				<form action="." method="post">
					<button type="submit" class="modal-btn">Yes</button>
		      		<button type="button" class="close modal-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>
				</form>
		      </div>
		    </div>
		  </div>
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>