{% extends 'base.html' %}
{% load staticfiles %}
		{% block header %}
			<div class="container">
				<figure class="header-logo">
					<img src="{% static 'img/todo-logo.png' %}" class="logo-img" alt="">
					<h2 class="pull-right"><a href="#" data-toggle="modal" data-target="#add-box-modal">add box</a><a href="{% url 'logout' %}">logout <img src="{% static 'img/logout-bng.png' %}" alt=""></a> </h2>
				</figure>
			</div>
		{% endblock %}
		{% block main-content %}
				<div class="row">
					<div class="col-md-4">
						{% for i in col1 %}
						<div class="box-wrap">
							<figure class="box-close"><img src="{% static 'img/box-close.png' %}" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>{{i.title}}</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								{% if i.get_tasks %}
								{% for j in i.get_tasks %}
								<tr>
									<td>
										<p>{{j.title}}</p>
									</td>
									<td>
										<form action="{% url 'donetask' %}" method="post">
											{% csrf_token %}
											<input type="hidden" value="{{j.pk}}" name="task_id">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								{% endfor %}
								{% endif %}
								
							</table>
							<input type="hidden" class="box-id" value="{{i.id}}">
							<img src="{% static 'img/box-plus.png' %}" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
						{% endfor %}
					</div>
					<div class="col-md-4">
					{% for i in col2 %}
						<div class="box-wrap">
							<figure class="box-close"><img src="{% static 'img/box-close.png' %}" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>{{i.title}}</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								{% if i.get_tasks %}
								{% for j in i.get_tasks %}
								<tr>
									<td>
										<p>{{j.title}}</p>
									</td>
									<td>
										<form action="{% url 'donetask' %}" method="post">
											{% csrf_token %}
											<input type="hidden" value="{{j.id}}" name="task_id">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								{% endfor %}
								{% endif %}
								
							</table>
							<input type="hidden" class="box-id" value="{{i.pk}}">
							<img src="{% static 'img/box-plus.png' %}" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
						{% endfor %}
					</div>
					<div class="col-md-4">
						{% for i in col3 %}
						<div class="box-wrap">
							<figure class="box-close"><img src="{% static 'img/box-close.png' %}" alt="" data-toggle="modal" data-target="#delete-box-modal"></figure>
							<h1>{{i.title}}</h1>
							<figure class="box-separator">
								
							</figure>
							<table>
								{% if i.get_tasks %}
								{% for j in i.get_tasks %}
								<tr>
									<td>
										<p>{{j.title}}</p>
									</td>
									<td>
										<form action="{% url 'donetask' %}" method="post">
											{% csrf_token %}
											<input type="hidden" value="{{j.id}}" name="task_id">
											<button class="square" type='submit'></button>
										</form>
									</td>
								</tr>
								{% endfor %}
								{% endif %}
								
							</table>
							<input type="hidden" class="box-id" value="{{i.pk}}">
							<img src="{% static 'img/box-plus.png' %}" alt="" class="box-plus" data-toggle="modal" data-target="#add-task-modal">
						</div>
						{% endfor %}
					</div>
				</div>
			{% endblock %}
		{% block modal-boxes %}
		<!-- Modal -->
		<div class="box-add-task modal fade" id="add-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		      <figure class="box-close" data-dismiss="modal" aria-label="Close"><img src="{% static 'img/box-close.png' %}" alt=""></figure>
		        <h1>Add task to education box</h1>
				<figure class="box-separator"></figure>
		        <form action="{% url 'addtask' %}" method='post'>
		        	{% csrf_token %}
		        	{{additemform.title}}
		        	<input type="hidden" name="box_id" id="box_id">
		        	
		        	<button type="submit" class="add-btn"><img src="{% static 'img/box-plus.png' %}" alt="" class="box-plus"></button>
		        		
		        	
		        
		        </form>
		      </div>
		    </div>
		  </div>
		</div>


		<div class="box-add-task modal fade" id="add-box-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		      <figure class="box-close" data-dismiss="modal" aria-label="Close"><img src="{% static 'img/box-close.png' %}" alt=""></figure>
		        <h1>Add new box</h1>
				<figure class="box-separator"></figure>
		        <form action="{% url 'addbox' %}" method='post'>
		        {% csrf_token %}
		        	{{additemform.title}}
		        	
		        	<button type="submit" class="add-btn"><img src="{% static 'img/box-plus.png' %}" alt="" class="box-plus"></button>
		        		
		        	
		        
		        </form>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="box-add-box modal fade" id="delete-box-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog box-wrap-modal">
		    <div class="modal-content box-wrap-modal">
		      <div class="modal-body">
		      <figure class="box-close" data-dismiss="modal" aria-label="Close"><img src="{% static 'img/box-close.png' %}" alt=""></figure>
		        <h1>You really want to delete education box?</h1>
				<figure class="box-separator"></figure>
				<form action="{% url 'deletebox' %}" method="post">
				{% csrf_token %}
					<input type="hidden" name="delete_box_id" id="delete_box_id">
					<button type="submit" class="modal-btn">Yes</button>
		      		<button type="button" class="close modal-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
		{% endblock %}